<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container mt-3 mb-3">

        <div class="container mb-3">
            <img src="{{ url_for('static', filename='images/san_diego_relentless_banner.png') }}" class="img-fluid mx-auto d-block" alt="">
        </div>

        <nav class="navbar navbar-sd-relentless navbar-expand-md">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rosters">Rosters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>

        <h1>Who We Are</h1>
        <p>San Diego Relentless is an elite basketball program located in San Diego county that inspires and promotes high level youth development by providing athletic, educational, and individual growth.</p>

        <h1>Honest, Accountability, Teamwork</h1>
        <p>We are committed to developing character, team work, and sportsmanship in a competitive but enjoyable environment. We educate and empower young athletes with confidence, commitment, and integrity so they can live a productive and successful tomorrow both on and off the court.</p>

        <h1>Core Values</h1>
        <p>Positive coaching with expert teachingSportsmanship and teamwork in a competitive environment Learn "life lessons" that will provide value off the court</p>
        <p>Develop individual and team skill sets for the next level of basketball</p>
        <p>Love and Trust the process</p>

    </div>

    

</body>
</html>